{% extends 'news/base.html' %}
{% load static %}

{% block title %}
	Biz haqimizda
{% endblock %}

{% block content %}
    <h1 style="text-align: center; color: white; font-family: Georgia; font-weight: bolder">Breaking News Live</h1>
    <h4 style="width: 70%; margin: 20px auto; font-family: sans-serif; color: #e8e8e8; text-align: center">«Breaking News Live» - O‘zbekistondagi eng faol onlayn nashrlardan biri. Sayt o‘z oldiga O‘zbekiston va jahonda ro‘y berayotgan eng muhim voqea-hodisalar haqida tezkor, aniq va xolis axborot berishni maqsad qilib qo‘ygan.</h4>
{% endblock %}
