{% extends 'news/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load hitcount_tags %}


{% block content %}
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="single_page">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li style="color: #e8e8e8">{{ new.category }}</li>
                            <li class="active">{{ new.slug }}</li>

                        </ol>
                        <h1>{{ new.title }}</h1>
                        
                        <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i>Wpfreeware</a> <span><i
                                class="fa fa-calendar"></i>{{ new.published_time }}</span> <a href="#"><i
                                class="fa fa-tags"></i>{{ new.category }}</a>
                                <a href="" class="fa fa-eye" style="color: red">
                                    {% get_hit_count for new %}
                                </a>
                        </div>
                        <div class="single_page_content"><img class="img-center" src="{{ new.image.url }}" alt="404">
                            <p><span
                                    style="font-family: Georgia; line-height: 30px; font-size: 16px">{{ new.body }}</span>
                            </p>
                            <h2>{{ new.published_time }}</h2>
{#                            <h3>Ko'rilgan Soni:{% get_hit_count for new %}</h3>#}
{#                                                {% if user.is_superuser %}#}
                            {#                        <h4><a href="#">Malumotni tahrirlash</a></h4>#}
                            {#                        <h4><a href="#">Malumotni o'chirish</a></h4>#}
                            {#                    {% endif %}#}
                        </div>

                        <div>
                            <h2 class="text-center" style="font-family: Georgia">Komentariyalar</h2>
                            {% for comment in comments %}
                                <div class="card">
                                    <div class="card-header">
                                        {{ comment.user.username }}
                                    </div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p>{{ comment.message }}</p>
                                            <footer class="blockquote-footer">{{ comment.created_time }}</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {% if request.user.is_authenticated %}
                            <div>
                                <h3 class="text-center" style="font-family: Georgia">Komentariya Qo'shish</h3>
                                <form action="" method="post">{% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <button type="submit" class="btn btn-info" style="margin-top: 10px">Yuborish
                                    </button>
                                </form>
                            </div>
                        {% else %}
                            <div>
                                <a href="{% url 'login' %}"><h3 style="color: red">Siz komment qoldirishingiz uchun
                                    login qilishingiz lozim
                                </h3></a>
                            </div>
                        {% endif %}


                        <div class="social_link">
                            <ul class="sociallink_nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>

                        <div class="related_post">
                            <h2>O'xshash Xabarlar <i class="fa fa-thumbs-o-up"></i></h2>
                            <ul class="spost_nav wow fadeInDown animated">

                                {% for rnew in related_posts %}
                                    {% if rnew.slug != new.slug %}
                                        <li>
                                            <div class="media"><a class="media-left"
                                                                  href="{% url 'news_detail' rnew.slug %}"> <img
                                                    src="{{ rnew.image.url }}" alt="404"> </a>
                                                <div class="media-body"><a class="catg_title"
                                                                           href="{% url 'news_detail' rnew.slug %}">{{ rnew.title|truncatewords:5 }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </div>

                    </div>
                </div>
            </div>


            {% include 'news/slide_parts/popular.html' %}

        </div>
    </section>
{% endblock %}
    